@use '../abstracts/' as *;

.employee-container {
  max-width: 50rem;
  margin: 3rem auto;
  padding: 1rem;
  background-color: $employee-list-bg;

  &__form {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  &__input {
    width: 90%;
    padding: 0.5rem;
    font-size: 1rem;
  }

  &__add-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: $add-btn-bg;
    color: $white-default;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: $add-btn-bg-hover;
    }
  }

  &__list {
    list-style: none;
    padding: 0;

    &-item {
      color: $white-default;
      background-color: $employee-list-primary;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 0.1rem;
    }
  }
}
