@font-face {
    font-family: 'BitcountGridSingle';
    src: url('../../fonts/BitcountGridSingle_Cursive-Light.woff2') fromat('woff2'),
         url('../../fonts/BitcountGridSingle_Cursive-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}